<launch>
  <node pkg="arduino_imu" type="arduino_imu" name="AAR_IMU" output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_741323434303519021F1-if00"/>
    <param name="baud" value="115200"/>
    <param name="frame_id" value="imu_link"/>
  </node>
  <group ns="AAR_GPS">
    <node pkg="LMS1xx" name="AAR_LASER" type="LMS100" output="screen">
      <param name="host" value="192.168.1.14" />
      <param name="frame_id" value="laser_link" />
    </node>
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="AAR_GPS" output="screen">
      <param name="port" value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0"/>
      <param name="baud" value="4800"/>
    </node>
    <node name="AAR_GPS_CONV" pkg="gps_common" type="utm_odometry_node">
      <remap from="odom" to="gps"/>
      <remap from="fix" to="fix" />
      <param name="rot_covariance" value="99999" />
      <param name="frame_id" value="gps_link" />
    </node>
  </group>
</launch>



